#context-menu {
    position: absolute;
    z-index: 1000;
}


._dropdown {
    background: white;
    box-shadow: 2px 2px 12px #0002;
    border: 1px solid #ddd;
    border-radius: 3px;

    >li {
        padding: 6px 18px;
        list-style-type: none;

        cursor: default;

        &:hover {
            background: #eee;
        }
    }

}